@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: rgb(223, 235, 238);
    overflow: hidden;

}

Footer {
    background-color: rgb(223, 235, 238) ;

}

#navBar{
    background-color: white ;
}

#buton{
    background-color: rgb(30, 147, 176) ;
    cursor: pointer;
}

#buton:hover{
    background-color: #569DAA;
}

.card {
    width: 100%;
    max-width: 200px;
    height: 150px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #00A8CC;
  }
  
  .card-content {
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  