@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: rgb(223, 235, 238);
    overflow: hidden;

}

Footer {
    background-color: rgb(223, 235, 238) ;

}

#navBar{
    background-color: white ;
}

#buton{
    background-color: rgb(30, 147, 176) ;
    cursor: pointer;
}

#buton:hover{
    background-color: #569DAA;
}